/* COLORS */
$Black: rgb(5, 5, 5);
$White: rgb(238, 238, 238);
$PrimaryColor: #ffe5b6;
$SecondaryColor: #443c3b;
$ThirdColor: #82735f;
$FourthColor: #16161594;

/* STARS */
$Star: #eee8aa;

/* BOX SHADOWS */
/* $darkShadow: ; */
