/* COLORS */
$Black: rgb(5, 5, 5);
$White: rgb(238, 238, 238);
$AltWhite: black;
$PrimaryColor: #ffba39;
$SecondaryColor: #443c3b;
$ThirdColor: #82735f;
$FourthColor: #16161594;
$Red: #dc362d;
$Green: #05ac72;

/* BOX SHADOWS */
$DarkShadow: 4px 3px 15px rgba(0, 0, 0, 0.582);

/* STOCK */
.inStock {
  border-radius: 4px;
  background-color: $Green;
  color: $Black;
}

.outOfStock {
  border-radius: 4px;
  background-color: $Red;
  color: $White;
}

/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');
$LogoFont: 'Pathway Gothic One', sans-serif;
