@import '../styles/styles.scss';

.CartScreen {
  height: 80vh;
  .CartScreen__backBtn {
    @extend .blackBtn;
  }
  .listgroup__item__select {
    color: black !important;
    option {
      color: black !important;
    }
  }
}
