/* Variables */
@import '../styles/styles.scss';

.btn {
  @extend .btn;
}

.altWhite {
  color: $AltWhite !important;
}

.listgroup__item {
  background: transparent !important;
  .listgroup__item__select {
    background-color: $Black;
    color: white;
  }
}

.listgroup {
  .listgroup__item {
    h3 {
      font-size: 16px;
    }
    h3,
    p {
      color: $Black;
    }
    h5 {
      color: $Black;
    }
  }
}
