@import '../../styles/styles.scss';
.carousel {
  max-height: 80vh;
  -webkit-mask-image: linear-gradient(180deg, #000, hsla(0, 0%, 100%, 1));
  button {
    @extend .whiteBtn;
    color: black;
    font-weight: 800;
    background-color: white;
    border-radius: 22px;
    padding: 0.7rem 1.6rem;
    font-size: 1rem;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%);
  }
}

@media (min-width: 1200px) {
  .carousel {
    button {
      top: 40%;
    }
  }
}
