@import '../../styles/styles.scss';
.showcase {
  display: flex;
  max-height: 600px;
  background-image: url('../../images/ocean2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -6rem;
  z-index: 10;

  img {
    max-height: 600px;
    margin-top: -4rem;
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
  button {
    @extend .whiteBtn;
    color: black;
    font-weight: 800;
    background-color: white;
    border-radius: 22px;
    padding: 0.7rem 1.6rem;
    font-size: 1rem;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%);
  }
}

@media (max-width: '560px') {
  .showcase {
    background-image: url('../../images/waves.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    button {
      top: 25%;
    }
  }
}
