/* Variables */
@import './styles/styles';

main {
  margin: 0rem auto 5rem auto;
  padding: 1rem;
  background-color: white;
  height: auto;
}

html,
body {
  background: white;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.app__container {
  background: transparent;
  width: 100%;
  margin-top: 2rem;
}

.latest {
  color: $Black;
  font-weight: 700;
  padding: 1rem 1rem 1rem 0rem;
  font-weight: 300;
}

h5 {
  text-transform: none;
  letter-spacing: normal;
}
