/* Variables */
@import './styles/variables';

html,
body {
  margin: 0;
  padding: 0;
  background-color: $Black;
}

.latest {
  color: $ThirdColor;
  padding: 2.5rem 1rem 1rem 0rem;
  font-weight: 300;
}
