/* Variables */
@import '../../styles/styles';

.navbar__menu__links {
  display: flex;
  color: $White !important;
  font-weight: 200;
  font-size: 10px;
}

#username,
#adminmenu {
  color: black;
  margin-top: 5px;
}

.header__navbar {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
  height: 50px;
  padding: 0rem 1rem !important;
  .navbar__collapsed {
    background-color: white;
    padding: 0rem 1rem;
  }

  .header__container__logo {
    color: black;
    font-size: 1.5rem;
    font-weight: 300;
    font-family: $LogoFont;
  }
}

@media (min-width: 1200px) {
  .header__navbar {
    padding: 0rem 6rem !important;
  }
}
