/* Variables */
@import '../../styles/styles';

.navbar__menu__links {
  color: $AltWhite !important;
  &:hover {
    text-decoration: underline;
  }
}

.header {
  background-color: transparent;
  .header__container {
    display: flex;
    .header__container__logo {
      width: 70px;
      position: relative;
      left: 50%;
      transform: translate(-50%);
      .header__container__logo__img {
        border-radius: 50%;
      }
    }
  }
}
