/* Variables */
@import '../../styles/styles';

.product {
  background-color: transparent;
  transition: ease 1s;
  &:hover {
    transform: scale(1.01);
  }
  .product__body {
    border-bottom: 1px dashed $ThirdColor;
    border-width: thin;
    background-color: $FourthColor;
    .product__body__a {
      color: $ThirdColor;
      font-weight: 400;
      &:hover {
        color: $White;
      }
    }
    .product__body__rating {
    }
    .product__body__price {
      color: $ThirdColor;
    }
  }
}
