/* Variables */
@import '../../styles/styles';

.product {
  background-color: transparent;
  .product__body {
    .product__body__a {
      color: $Black;
      font-weight: 600;
    }
    .product__body__rating {
    }
    .product__body__price {
      color: $Black;
      font-weight: 100;
      font-size: 1rem;
    }
  }
}
